.settingsMenu {
    position: relative;
    display: none;
    flex-direction: column;
    width: 1400px;
    padding: 20px;
    gap: 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    .settingsMenuFlex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        gap: 25px;

        .settingsMenuLabels,
        .settingsMenuButtons,
        .layers {
            flex: 1;
        }

        .settingsMenuLabels {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            gap: 15px;
            
            h2 {
                margin-bottom: 16px;
                color: #333333;
            }

            label {
                display: block;
                font-size: 20px;
                color: #333333;

                span {
                    margin-left: 2px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            span {
                padding-top: 10px;
                font-weight: bold;
                font-size: 20px;
                color: #333333;
            }

            input[type="range"] {
                accent-color: #3b5998;
                width: 100%;
            }
        }

        .settingsMenuButtons,
        .layers {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            gap: 15px;

            .controls {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10px;

                p {
                    font-size: 18px;
                }

                .toggle-switch {
                    position: relative;
                    display: inline-block;
                    flex-direction: column;
                    width: 50px;
                    height: 25px;

                    input {
                        opacity: 0;
                        width: 0;
                        height: 0;

                        &:checked+.slider {
                            background-color: #4ed164;
                        }

                        &:checked+.slider:before {
                            transform: translateX(24px);
                        }
                    }

                    .slider {
                        position: absolute;
                        cursor: pointer;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #cccccc;
                        transition: 0.4s;
                        border-radius: 25px;

                        &:before {
                            position: absolute;
                            content: "";
                            height: 20px;
                            width: 20px;
                            left: 3px;
                            bottom: 2.5px;
                            background-color: #ffffff;
                            transition: 0.4s;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }

    .settingsMenuClose {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
        border-radius: 50%;
        color: #ffffff;
        background-color: #3b5998;
        flex-wrap: wrap;

        &:hover {
            background-color: #2d4373;
        }
    }
}