.videoPlayer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 1400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    .videos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .videoElements {
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }

    .elementPlayerControls {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;

        .left,
        .right {
            display: flex;
            gap: 15px;

            .playerButton {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                gap: 6px;
                padding: 16px 32px;
                font-size: 16px;
                color: #ffffff;
                background-color: #3b5998;

                &:hover {
                    background-color: #2d4373;
                }
            }
        }
    }
}