@use './description' as *;
@use './films' as *;
@use './filters' as *;
@use './notification.scss' as *;
@use './settings.scss' as *;
@use './video.scss' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: #333333;
    background-color: #f0f2f5;
    font-family: "Poppins", serif !important;
}

header {
    padding: 32px;
    color: #ffffff;
    background-color: #3b5998;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px;
    margin-top: 20px;
    gap: 20px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-weight: 600;

    .info {
        font-size: 16px !important;
        color: #3b5998 !important;
        font-weight: 700;
    }
}

button {
    font-family: inherit;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: all .2s;
    cursor: pointer;
}

footer {
    padding: 16px;
    text-align: center;
    color: #ffffff;
    background-color: #3b5998;
}

.icon {
    width: 30px;
    filter: brightness(0) saturate(100%) invert(94%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(107%) contrast(105%);
}



#myCanvas {
    pointer-events: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}